/* style.css */
:root { /*Genera variables, en este caso son colores */
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;
    --grisclaro: #DFE9F3;

}
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
.left{
    background-image: url(OIG4.jpg);
      background-position: center;
      background-repeat: no-repeat;
      width: 50%;
      height: 100vh;

    
}

.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--grisclaro);
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--secundario);
    border-radius: 15px;
    text-align: center;
    background-color: var(--blanco);
    
    
    
}

.login h2{
    text-transform: uppercase;
    color: var(--secundario);
    font-size: x-large;
    margin-bottom: 35px;
}

.username{
    width: 310px;
    height: 50px;
    border: 1px solid var(--oscuro);
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 20px;
    
}
.password{
    width: 310px;
    height: 50px;
    border: 1px solid var(--oscuro);
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 20px;

}
button {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: var(--secundario);
    color: var(--oscuro);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}
button:hover {
    background-color: var(--primario);
}

